<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bosccoma.sanlutexxxi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bosccoma.sanlutexxxi.Inici"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bosccoma.sanlutexxxi.MenuInicial"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.bosccoma.sanlutexxxi.MostrarVideo"
            android:label="@string/title_activity_mostrar_video" >
        </activity>
        <activity
            android:name="com.bosccoma.sanlutexxxi.MostrarFotos"
            android:label="@string/title_activity_mostrar_fotos" >
        </activity>
        <activity
            android:name="com.bosccoma.sanlutexxxi.GravarMsg"
            android:label="@string/title_activity_gravar_msg" >
        </activity>
        <activity
            android:name="com.bosccoma.sanlutexxxi.AmpliarFoto"
            android:label="@string/title_activity_ampliar_foto" >
        </activity>
        <activity
            android:name="com.bosccoma.sanlutexxxi.MostrarFotosBck"
            android:label="@string/title_activity_mostrar_fotos_bck" >
        </activity>
    </application>

</manifest>
